/* Regles de style associées à la page contact.html */

input[type="text"] {
    width: 500px;
}

#contact_form input[type="text"], #contact_form input[type="mail"], textarea{
    display: block;
    margin-left: 120px;
    margin-bottom: 8px;
    width: 504px;
}

#contact_form form {
    width: 500px;
    display: block;
}


#contact_form label {
    float: left;
    line-height: 47px;
}

#contact_form fieldset{
    margin: auto 0;
    padding: 0 auto;
    display: inline-block;
}

#contact_form legend {
    font-size: 40px;
    margin-bottom: 40px;
    margin-top: 40px;
    text-transform: uppercase;
    text-align: center;
    color: #444;
}

#contact_form {
    text-align: center;
    margin: 0 auto 20px;
    padding-top: 50px;
    font-size: 18px;
    width: 100%;
    
}