input[type="text"] {
    width: 500px;
}

#contact_form input[type="text"], #contact_form input[type="mail"], textarea{
    display: block;
    margin-left: 120px;
    margin-bottom: 8px;
}

#contact_form input[type="text"] {
    width: 504px;
}

#contact_form .button-3 {
    float: right;
    margin-right: 20px;
}

#contact_form label {
/*    display: block;*/
    float: left;
    line-height: 47px;
}

textearea {
}

#contact_form fieldset{
    width: 400px;
    margin: auto 0;
    padding: 0 auto;
}

#contact_form legend {
    font-size: 40px;
    margin-bottom: 40px;
    margin-top: 40px;
    text-transform: uppercase;
    text-align: center;
}

/*
#gradient {
    background: linear-gradient(white 40%, white 35%);  
    background-repeat: no-repeat;
    height: 100%;
}
*/

#contact_form {
    text-align: center;
    margin: 0 auto 20px;
    padding: 50px 165px;
    padding-top: 50px;
    font-size: 18px;
}