@media all and (min-width: 940px) {
    @keyframes AutoSlide {
        0%, 15%, 100% {
            left: 0px; /*1ère image*/
        }
        35%, 50% {
            left: -855px; /*2ème image*/
        }
        70%, 85% {
            left: -1710px; /*3ème image*/
        }
    }

    #slideshow {
        position: relative;
        width: 855px;
        height: 500px;
        margin:  20px auto;
        overflow: hidden;
    }
    #sContent li {
        display: inline;
    }

    #sContent {
        position: absolute;
        top: 0;
        left: 0;
        width: 2565px;
        margin: 0;            
        padding: 0;

        /* CSS3 keyframes animation */
        animation-name: AutoSlide;
        animation-duration: 20s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
    }
}

@media all and (max-width: 940px) {
    #slideshow img {
        display: inline-block;
        width: 80%;
        height: auto;
    }
    
    #slideshow {
        text-align: center;
        margin-top: 20px;
    }
}