/* GENERAL */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial,sans-serif;
    font-size: 15px;
}


h1 {
    font-size: 45px;
    color: #444;
}

h2 {
    color: white;
    font-size: 55px;
}

h4 {
    font-size: 18px;
    font-weight: bold;
    color: #444;
}

p {
    line-height: 20px;
    color: #777;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #444;
}

fieldset {
    border: none;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
    padding: 0 10px;
}

.orange {
    color: #ff7a00;
}


.clear {
    clear: both;
}

/* HEADER */

header {
    height: 120px;
}

header h1 {
    float: left;
    margin-top: 32px;
}

header nav {
    float: right;
    margin-top: 50px;
}

header nav li {
    float: left;
}

header nav li a {
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 20px;
    padding-bottom: 10px;
}

header nav li a:hover {
    border-bottom: 3px #ff7a00 solid;
}

input[type="email"], input[type="text"], textarea {
    padding: 10px;
    font-size: 20px;
    margin-right: 20px;
    border: 2px solid #ddd;
    border-radius: 3px;
}

::placeholder {
    color: rgba(221,221,221,0.90);
    
}


article h4 {
    border-bottom: 1px solid #ddd;
    padding-bottom: 2px;
    text-transform: uppercase;
    margin-bottom: 2px;
    text-align: center;
}

.button-2 {
    color: white;
    display: inline-block;
    font-size: 12px;
    background-color: #ff7a00;
    padding: 6px 20px;
    border-radius: 3px;
    margin-top: 10px;
}

.button-2:hover {
    background-color: #02b8dd;
}

.button-3 {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding: 11px;
    background-color: #02b8dd;
    border-style: none;
    width: 100px;
    border-radius: 0;
}

.button-3:hover {
    color: white;
    background-color: #444;
}

footer {
    margin-top: 10px;
    background-color: #444;
    clear: both;
}

footer h1 {
    color: white;
    text-align: center;
    padding-top: 80px;
}

.copyright {
    text-align: center;
    color: #777;
    font-weight: bold;
    padding: 15px 0 30px;
}


.button-1 {
    display: block;
    color: white;
    width: 120px;
    height: 50px;
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
    background-color: #ff7a00;
    line-height: 50px;
    border-radius: 4px;
}

.button-1:hover {
    background-color: #02b8dd;
}