#mailing-list {
    margin-top: 10px;
    width: 100%;
    height: 300px;
    clear: both;
}

#newsletter fieldset {
    display: block;
    height: 100%;
    text-align: center;
}

#newsletter fieldset legend{
    display: block;
    text-transform: uppercase;
    margin: 0 auto 40px;
    border-bottom: 1px solid #02b8dd;
    text-align: center;
    padding: 40px 140px 30px;
    font-size: 18px;
    font-weight: bold;
    color: #444;
}

#mailing-list form {
    text-align: center;
    margin: 0;
}

#mailing-list label {
    display: none;
}

#mailing-list p {
    padding-bottom: 20px;
    width: 500px;
    margin: auto;
}

input[type="email"], input[type="text"], textarea {
    padding: 10px;
    font-size: 20px;
    margin-right: 20px;
    border: 2px solid #ddd;
    border-radius: 3px;
}

::placeholder {
    color: rgba(221,221,221,0.90);
    
}




label {
    font-weight: bold;
    font-size: 20px;
    margin-right: 10px;
    color: #777;
}